.botao{
    box-shadow: 2px 2px 0 0 #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    padding: 1rem;
    transition: 1s all;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-radius: 0.4rem;
}

.botao:hover{
    border-radius: 1rem;
    box-shadow: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .botao{
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {
    .botao {
        font-size: 0.8rem;
        border-radius: 1rem;
    }
}