.conteudo__sobre{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.conteudo__sobre__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    font-weight: normal;
}

.conteudo__sobre__titulo__destaque{
    font-size: 2.5rem;
    font-weight: bold;
}

.conteudo__sobre__texto{
    font-size: 1.6rem;
    text-align: center;
    line-height: 33.5px;
    padding: 2% 10%;
}