.conteudo__bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.conteudo__bonus__titulo{
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
}

.conteudo__bonus__titulo__excel{
    color: rgb(63, 122, 19);
}

.conteudo__bonus__titulo__power{
    color: 
    rgb(255, 193, 7);
}   

.container__imagens__bonus{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.container__imagens__bonus img{
    width: 30%;
}

.listas__excel__power{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    list-style-type: none;
    align-items: center;
    min-height: 200px;
    margin: 1rem 0;
}

.conteudo__bonus__subtitulo{
    text-transform: uppercase;
    color: rgb(20, 18, 18);
    font-size: 1.9rem;
    text-align: center;
    margin: 0.5rem;
}

.conteudo__bonus__subtitulo__destque{
    color: white;
    background-color: rgb(51, 102, 30);
    padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container__imagens__bonus img{
        width: 35%;
    }

    .lista {
        grid-template-columns: repeat(1, 1fr);

    }

    li {
        font-size: 1.2rem;
        gap: 1rem;
        font-weight: 500;
    }
}


/*Reponsividade mobile*/
@media only screen and (max-width: 767px) {

    .container__imagens__bonus img{
        width: 45%;
    }

    .lista {
        grid-template-columns: repeat(1, 1fr);

    }

    li {
        font-size: 0.8rem;
        font-weight: 500;
    }
}