.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0;
    background-image: url("//static-public.klickpages.com.br/tmp/zip/920/images/bg.jpg?v=1532374120");
    width: 100%;
}

.conteudo__titulo{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.conteudo__titulo__excel{
    color: rgb(51, 102, 30);
}

.conteudo__titulo__power{
    color: rgb(255, 193, 7);
}